<div class="container-sm">
    <div class="row align-items-center justify-content-center" *ngIf="deputado">
        <section class="col-3">
            <img class="img-thumbnail img-fluid w-100 p-5" src="{{ deputado.ultimoStatus.urlFoto }}">
        </section>
        <section class="col-3">
            <p><b>Nome:</b> {{ deputado.ultimoStatus.nome }}</p>
            <p><b>Partido:</b> {{ deputado.ultimoStatus.siglaPartido }}</p>
            <p><b>Estado:</b> {{ deputado.ultimoStatus.siglaUf }}</p>
            <p><b>Data de Nascimento:</b> {{ deputado.dataNascimento | date: 'dd/MM/yyyy' }}</p>
            <p><b>Sexo:</b> {{ deputado.sexo === 'M' ? 'Masculino' : 'Feminino' }}</p>
            <p *ngIf="deputado.ultimoStatus.email"><b>Email:</b> <a class="text-decoration-none" href="mailto: deputado.ultimoStatus.email"> {{deputado.ultimoStatus.email}}</a></p>
            <p *ngIf="deputado.urlWebsite"><b>Site:</b> {{ deputado.urlWebsite }}</p>
        </section>
    </div>
    <div *ngIf="ultimoEvento" class="row justify-content-center m-3">
        <section class="col-auto m-5">
            <h5>Último evento</h5>
        </section>
        <section>
            <p><b>Início:</b> {{ ultimoEvento.dataHoraInicio | date : 'dd/MM/yyyy HH:mm' }}</p>
            <p *ngIf="ultimoEvento.dataHoraFim"><b>Fim:</b> {{ ultimoEvento.dataHoraFim | date : 'dd/MM/yyyy HH:mm' }} </p>
            <p *ngIf="!ultimoEvento.dataHoraFim"><b>Fim:</b> {{ ultimoEvento.situacao}} </p>
            <p><b>Tipo do evento:</b> {{ ultimoEvento.descricaoTipo }}</p>
        </section>
    </div>
    <div *ngIf="proxEvento" class="row justify-content-center m-3">
        <section class="col-auto m-5">
            <h5>Próximo evento</h5>
        </section>
        <section>
            <p><b>Início:</b> {{ proxEvento.dataHoraInicio | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p><b>Tipo:</b> {{ proxEvento.descricaoTipo }} </p>
            <p><b>Situação do evento:</b> {{ proxEvento.situacao }}</p>
        </section>
    </div>

</div>